/* App container */

.app {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(172, 170, 170, 0.1);
  width:600px;
  margin-top:5rem;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.heading{
  font-size: 2.5rem;
  margin:10px 0 20px 0;
  font-weight: bold;
  color:black;
}
/* Header */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Input bar */
input[type="text"] {
  width: 90%;
  font-size:1.2rem;
  padding: 15px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  outline:none;
  transition: all .2s ease-in-out;
  font-family:"Poppins" , sans-serif;
}
input[type="text"]:focus{
  border:2px solid black;
}
input[type="text"]::placeholder{
  font-size:1.2rem;
  font-family:"Poppins" , sans-serif;
}

/* TODO card */

  .todo-card {
    font-size:1.2rem;    
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease;
    box-shadow:5px 5px 10px  lightgray;
  }
  .todo-card:hover{
    transform: scale(1.05);
  }

.todo-card.completed {
  background-color: #e0e0e0;
  text-decoration: line-through;
}

/* Reset button */
.reset-button {

  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 20px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom:10px;
  width:95%;
  transition: all .2s ease-in-out;
  box-shadow:5px 5px 10px  lightgray;
}


.reset-button:hover {
  background-color: #ff4444;  
}

/* Completed list section */
.completed-list {
  margin-top: 20px;
}

